.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	width: 940px;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
    font-size: 1em;
	width: 940px;
}

.principal strong {
	font-weight: bold;
}


.funcoes {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.funcoes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 40px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 30px;
}


.funcoes h2 {
	font-size: 30px;
	font-weight: bold;
}

.funcoes-descricao {
	font-size: 18px;
    margin: 10px;
}

/*footer {
	text-align: center;
	padding: 40px 0;
	vertical-align: bottom;
}*/

footer {
	color: #FEFEFE;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #212529;
	padding: 20px;
	text-align: center;
  }

