

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div main="container mt-5">
    <section class="principal">
    <h2 class="titulo-principal">InsectaCatalog - O seu guia completo de insetos</h2>

    <p>Bem-vindo ao <strong>InsectaCatalog</strong>, o sistema de gerenciamento de catálogo de insetos mais abrangente e fácil de usar.</p>

    <p>O InsectaCatalog é a ferramenta perfeita para você explorar, catalogar e gerenciar informações sobre esses pequenos e fascinantes seres.</p>
</section>

<section>
    <ul class="funcoes">
        <li>
            <h2>Listagem</h2>
            <p class="funcoes-descricao">Lista todos os insetos cadastrados!</p>
        </li>
        <li>
            <h2>Cadastro</h2>
            <p class="funcoes-descricao">Cadastro de novos insetos!</p>
        </li>
        <li>
            <h2>Edição</h2>
            <p class="funcoes-descricao">Edição e exclusão de insetos cadastrados!</p>
        </li>
    </ul>
</section>

</div>

</body>

<footer>
    <p class="copyright">&copy; Tech Ciclo III - NTT Ltd. - 2023</p>
</footer>
</html>
